@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}
html {
  @apply transition-colors duration-200 scroll-smooth;
}

#projects {
  scroll-margin-top: 110px;
}

@media (max-width: 425px) {
  #contact {
    scroll-margin-top: 45px;
  }
  #about {
    scroll-margin-top: 90px;
  }
}

@media (max-width: 1024px) {
  #contact,
  #about {
    scroll-margin-top: 110px;
  }
}

@media (max-width: 1280px) {
  #about {
    scroll-margin-top: 110px;
  }
}
